@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Caveat');

:root {
    --pcolor: #7f091e;
    --scolor: #f6b5bd;
    --dark-scolor: #f56383;
    --tcolor: #ffd2d2;
    --qcolor: #eacccd;
    --bgcolor: #f2f1f6;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.banner{
    background-color: var(--bgcolor);
    background-image: url("images/yummy.jpg");
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.body {
    background-color: #ffffff8f;
    border: 100px solid;
    border-image: url("images/border1.png") 0% 33% round;
    box-sizing: border-box;
    border-top: 0;
    border-bottom: 0;
}

.startwish {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wish span {
    /* text-shadow: 4px 4px 4px #aaa; */
    font-weight: bold;
    color: var(--pcolor);
    display: block;
    text-align: center;
}

.span1,
.span3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.span2 {
    font-family: 'Tangerine', serif;
    font-size: 90px;
}

.wish,
.wish-image-container {
    width: 50%;
    height: 100%;
}

.wish-container>img {
    opacity: .9;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.wish-container {
    display: flex;
    padding: 50px;
}

.wish-image {
    width: 246px;
    border-radius: 50%;
    border: 10px solid var(--scolor);
}

.story {
    width: 100%;
}

.story-row1,
.story-row2 {
    /* background-color: blue; */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.story-row1{
    justify-content: flex-start;
    margin-top: 0;
}
.story-row2{
    justify-content: flex-end;
}
.card {
    background-color: var(--tcolor);
    height: 180px;
    margin-bottom: 20px;
    width: 430px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    display: flex;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    color: var(--pcolor);
    box-shadow: 7px 7px 9px 0px #7f091e87;;
    
}

.right-card {
    margin-left: 90px;
    margin-top: 20px;
}

.card img {
    height: 100%;
    border-radius: 5px;
}
.card>.text{
    position: relative;
    left: -50px;
}
.card>.card-image{
    height: 80%;
    margin-right: 20px;
    border: 10px solid var(--dark-scolor);
    background-color: var(--dark-scolor);
    border-radius: 10px;
    box-shadow: 12px 3px 11px #0000001a;
    position: relative;
    left: -60px;
}

.endwish {
    height: 60vh;
    display: flex;
    align-items: center;
}
.endwish img {
    opacity: .8 ;
}
.finalmsg {
    font-family: 'Tangerine', serif;
    font-size: 60px;
    font-weight: bold;
    color: var(--pcolor);
    margin-left: 20px;
}

.footer {
    height: 60px;
    background-image: linear-gradient(to right, var(--scolor), var(--dark-scolor) 10%, var(--dark-scolor) 80%, var(--scolor));
}

.footer .name {
    float: left;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    color: var(--qcolor);
    padding: 20px;
}
.footer .social {
    float: right;
    margin-right: 30px;
    padding: 10px;

}
.footer a{
    color: white;
    text-decoration: none;
}


.fa-facebook,
.fa-instagram {
    color: white;
    border-radius: 50%;
    padding: 10px;
}


.fa-facebook:hover,
.fa-instagram:hover {
    background: var(--dark-scolor);
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1265px) {
    .story-row1,
    .story-row2 {
        flex-direction: column;
        align-content: center;
    }
    .right-card {
        margin-left: 200px;
    }
  }
@media screen and (max-width: 925px) {
    .right-card {
        margin-left: 100px;
    }
    .finalmsg {
        font-size: 50px;
    }
    .endwish img{
        width: 300px;
    }
}
@media screen and (max-width: 800px) {
    .right-card {
        margin-left: 50px;
    }
    .endwish img{
        width: 200px;
    }
    .wish-container>img {
        width: 700px;
        /* transform: translate(-50%, -50%); */
    }
    .finalmsg {
        font-size: 40px;
    }
}
@media screen and (max-width: 700px) {
    .endwish{
        display: block;
        position: relative;
        height: auto;
    }
    .endwish img{
        width: 200px;
        position: absolute;
        bottom:0px;
        opacity: .5;
    }
    .wish-container>img {
        width: 150%;
    }
    .finalmsg {
        font-size: 40px;
        padding: 10px 0px 40px 0px;
        position: relative;
    }
    .story{
        margin-top: 30px;
    }
    .right-card {
        margin-left: 20px;
        margin-top: 20px;
    }
    .card {
        width: 98%;
        display: block;
        height: auto;
    }
    .card>.text{
        position: static;
    }
    .card>.card-image{
        position: static;
        height: 150px;
        float: left;
        transform: translate(0px,-30px);
    box-shadow: 3px 14px 9px 0px #7f091e87;
    }
    .story-row1,
    .story-row2 {
        padding: 10px;
    }
}
@media screen and (max-width: 600px) {
    .body {
        border-width: 50px;
    }
    .wish-container {
        display: block;
    }    
    .wish, .wish-image-container {
        width: 70%;
    }
    .wish-image{
        width: 180px;
        margin: 10px 0px 0px 60px;
    }
    .span1, .span3 {
        font-size: 20px;
    }
    .span2 {
        font-size: 60px;
    }
    .wish-container>img {
        height: auto;
        width: 110%;
        min-width: 505px;
        transform: translate(-50%, -50%) rotate(90deg);
    }
    .finalmsg {
        font-size: 35px;
    }
    .footer .name {
        margin: 0;
        padding-left: 10px;
        padding-right: 0;
        font-size: small;
    }
    .footer .social{
        margin: 0;
        padding-left: 0;
        padding-right: 10px;
    }
}
@media screen and (max-width: 450px) {
    .card {
        width: 98%;
    }
    .body {
        border-width: 40px;
    }
}
